<template>
  <div class="relative flex justify-center items-center h-[100vh] w-[75vw]">
    <div
      ref="bgcontainer"
      class="absolute left-0 right-0 top-0 bottom-0 overflow-hidden"
    >
      <div
        :class="{ initialbg: isInitial }"
        class="transition overflow-hidden"
        ref="background"
      >
        <div :key="x" v-for="(i, x) in images">
          <div
            :style="`background-image: url(${i});`"
            class="bg-cover bg-no-repeat h-[100vh] w-[75vw] bg-right"
          ></div>
        </div>
      </div>
    </div>

    <div class="flex justify-center items-center z-10 max-w-xl">
      <div class="relative">
        <div class="absolute -left-8 -top-8">
          <div ref="horizontal" class="w-[100px] h-[15px] bg-darkyellow"></div>
          <div ref="vertical" class="w-[15px] h-[85px] bg-darkyellow"></div>
        </div>

        <div
          ref="box"
          class="text-black leading-10 rounded-xl p-10 bg-white/60 text-2xl"
        >
          <h2 @click="initialTransition()" class="text-7xl font-bold mb-10">
            Our People Come First
          </h2>
          <p class="text-4xl">
            We are independently owned, strategic creative agency forever
            curious and ready to transform the way business is done.
          </p>
        </div>
        <div class="flex justify-end mt-5">
          <button
            ref="learn"
            class="bg-darkyellow text-white rounded-lg font-bold text-2xl focus:outline-none border-none hover:bg-white/50 transition hover:text-gray-500 hover:border-none"
          >
            Learn More
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import anime from "animejs/lib/anime.es.js";

export default {
  props: {
    isInitial: {
      type: Boolean,
    },
    backToLanding: {
      type: Boolean,
    },
    prev: {
      type: Number,
      default: 0,
    },
    current: {
      type: Number,
      default: 0,
    },
    images: {
      type: Array,
      default: [],
    },
  },
  methods: {
    initialTransition() {
      anime({
        targets: this.$refs.background,
        "margin-top": [`100px`, `0`],
        "margin-right": [`100px`, `0`],
        opacity: [0.5, 1],
        easing: "cubicBezier(.24,.55,.2,1)",
        duration: 400,
      });
    },
    normalTransition() {
      anime({
        targets: this.$refs.background,
        "margin-top": [`-${100 * this.prev}vh`, `-${100 * this.current}vh`],
        easing: "easeInOutExpo",
        duration: 700,
      });
    },
    go() {
      anime({
        targets: this.$refs.learn,
        translateY: [30, 0],
        opacity: [0, 1],
        easing: "easeInOutExpo",
        duration: 1000,
        delay: 600,
      });
      anime({
        targets: this.$refs.horizontal,
        width: ["0", "100px"],
        easing: "easeInOutExpo",
        duration: 1000,
        delay: 300,
      });
      anime({
        targets: this.$refs.vertical,
        height: ["0", "85px"],
        easing: "easeInOutExpo",
        delay: 500,
        duration: 1000,
      });
      anime({
        targets: this.$refs.box,
        translateX: [10, 0],
        opacity: [0, 1],
        easing: "easeInOutExpo",
        delay: 600,
        duration: 1000,
      });

      anime({
        targets: this.$refs.background,
        filter: "grayscale(1)",
        easing: "easeInOutExpo",
        duration: 200,
        delay: 700,
      });
    },
  },
  watch: {
    backToLanding: function (val) {
      if (val) {
        anime({
          targets: this.$refs.bgcontainer,
          top: [`0`, `100px`],
          right: [`0`, `100px`],
          easing: "cubicBezier(1, -0.2, 0.43, 0.92)",
          duration: 800,
        });
      }
    },
  },
  mounted() {
    if (this.isInitial === true) {
      this.initialTransition();
    } else {
      this.normalTransition();
    }
    this.go();
  },
};
</script>
<style scoped>
.initialbg {
  /* transform: translate(-170px, 170px);
  opacity: 0; */
}
</style>
