<template>
  <div class="relative flex justify-center items-center h-[100vh] w-[75vw]">
    <div
      ref="bgcontainer"
      class="absolute left-0 right-0 top-0 bottom-0 overflow-hidden"
    >
      <div class="transition" ref="background">
        <div :key="x" v-for="(i, x) in images">
          <div
            :style="`background-image: url(${i});`"
            class="bg-cover bg-no-repeat h-[100vh] w-[75vw] bg-right"
          ></div>
        </div>
      </div>
    </div>

    <div class="flex justify-center items-center z-10 max-w-xl">
      <div class="relative">
        <div class="absolute -left-8 -top-8">
          <div ref="horizontal2" class="w-[100px] h-[15px] bg-darkyellow"></div>
          <div ref="vertical2" class="w-[15px] h-[85px] bg-darkyellow"></div>
        </div>

        <div
          ref="box"
          class="text-gray-800 rounded-xl p-10 bg-white/50 text-2xl"
        >
          <h2 class="text-5xl font-semibold my-3">Type your beautiful name</h2>
          <input
            type="text"
            placeholder="in here of course :)"
            class="border-none my-3 rounded-xl p-5 text-center text-gray-700 placeholder-gray-500 font-bold focus:outline-none bg-white/50 w-full"
          />
          <h2 class="text-5xl font-semibold my-10">
            Protect your email address
          </h2>
          <input
            type="text"
            placeholder="but not in here :)"
            class="border-none rounded-xl my-3 p-5 text-center text-gray-700 placeholder-gray-500 font-bold focus:outline-none bg-white/50 w-full"
          />
          <div class="flex justify-end my-10">
            <button
              class="bg-darkyellow text-white rounded-lg font-bold text-2xl focus:outline-none border-none hover:bg-white/50 transition hover:text-gray-500 hover:border-none"
            >
              Submit
            </button>
          </div>
        </div>
        <div class="absolute -right-8 -bottom-8 flex justify-end items-end">
          <div ref="horizontal" class="w-[100px] h-[15px] bg-darkyellow"></div>
          <div ref="vertical" class="w-[15px] h-[85px] bg-darkyellow"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import anime from "animejs/lib/anime.es.js";

export default {
  props: {
    isUp: {
      type: Boolean,
      default: false,
    },
    backToLanding: {
      type: Boolean,
      default: false,
    },
    prev: {
      type: Number,
      default: 0,
    },
    current: {
      type: Number,
      default: 0,
    },
    images: {
      type: Array,
      default: [],
    },
  },
  methods: {
    hover() {
      anime({
        targets: this.$refs.box,
        scale: 1.2,
        easing: "easeInOutExpo",
        duration: 200,
      });
    },
    leave() {
      anime({
        targets: this.$refs.box,
        scale: 1,
        easing: "easeInOutExpo",
        duration: 200,
      });
    },
    go() {
      anime({
        targets: this.$refs.learn,
        translateY: [30, 0],
        opacity: [0, 1],
        easing: "easeInOutExpo",
        duration: 1000,
        delay: 600,
      });
      anime({
        targets: this.$refs.horizontal,
        width: ["0", "100px"],
        easing: "easeInOutExpo",
        duration: 1000,
        delay: 300,
      });
      anime({
        targets: this.$refs.vertical2,
        height: ["0", "85px"],
        easing: "easeInOutExpo",
        delay: 500,
        duration: 1000,
      });
      anime({
        targets: this.$refs.horizontal2,
        width: ["0", "100px"],
        easing: "easeInOutExpo",
        duration: 1000,
        delay: 300,
      });
      anime({
        targets: this.$refs.vertical,
        height: ["0", "85px"],
        easing: "easeInOutExpo",
        delay: 500,
        duration: 1000,
      });
      anime({
        targets: this.$refs.box,
        scale: [0, 1],
        opacity: [0, 1],
        easing: "easeInOutExpo",
        delay: 600,
        duration: 1000,
      });
      anime({
        targets: this.$refs.background,
        "margin-top": [`-${100 * this.prev}vh`, `-${100 * this.current}vh`],
        easing: "easeInOutExpo",
        duration: 700,
      });
      anime({
        targets: this.$refs.background,
        filter: "grayscale(1)",
        easing: "easeInOutExpo",
        duration: 200,
        delay: 700,
      });
    },
  },
  watch: {
    backToLanding: function (val) {
      if (val) {
        anime({
          targets: this.$refs.bgcontainer,
          top: [`0`, `100px`],
          right: [`0`, `100px`],
          easing: "cubicBezier(1, -0.2, 0.43, 0.92)",
          duration: 800,
        });
      }
    },
  },
  mounted() {
    this.go();
  },
};
</script>
