<template>
  <div
    class="relative overflow-hidden h-[100vh] w-[100vw] bg-center bg-cover bg-no-repeat"
    style="background-image: url(/images/paper.jpg)"
  >
    <LandingView v-if="page === 3" @clicked="goToMenu()" />
    <div class="flex" v-show="page !== 3">
      <div class="w-[25vw] relative flex flex-col justify-start">
        <button
          @click="goToLanding()"
          ref="back"
          class="bg-transparent text-xl text-left absolute left-5 top-5 border-none focus:outline-none hover:border-none"
        >
          ← Back
        </button>
        <div ref="orange" class="w-[25vw] h-[25vh] bg-darkyellow"></div>
      </div>
      <div class="w-[75vw]">
        <AboutView
          v-if="page === 0"
          :isInitial="initialLoad"
          :backToLanding="backToLanding"
          :isUp="previous < page"
          :images="backgrounds"
          :prev="previous"
          :current="page"
        />
        <ProductView
          v-if="page === 1"
          :isUp="previous < page"
          :backToLanding="backToLanding"
          :images="backgrounds"
          :prev="previous"
          :current="page"
        />
        <ContactView
          v-if="page === 2"
          :isUp="previous < page"
          :backToLanding="backToLanding"
          :images="backgrounds"
          :prev="previous"
          :current="page"
        />
      </div>
      <div
        ref="menu"
        class="fixed bottom-40 left-60 text-white flex flex-col space-y-10 z-50"
      >
        <a
          v-for="(m, i) in menus"
          :key="i"
          class="menu relative text-black text-7xl font-bold transition hover:text-white/50"
          :class="{ active: page == i }"
          @click="changePage(i)"
          href="#/"
          ><span :ref="`line${i}`" class="active-line"></span>{{ m }}</a
        >
      </div>
    </div>
  </div>
</template>

<script>
import anime from "animejs/lib/anime.es.js";

import ImageHolderComponent from "../components/ImageHolderComponent.vue";
import AboutView from "./AboutView.vue";
import ContactView from "./ContactView.vue";
import LandingView from "./LandingView.vue";
import ProductView from "./ProductView.vue";
export default {
  data() {
    return {
      page: 3,
      previous: 0,
      initialLoad: false,
      backToLanding: false,
      backgrounds: [
        "/images/rain.jpg",
        "/images/sky.jpg",
        "/images/aurora.jpg",
      ],
      menus: ["About Us", "Our Product", "Contact Us"],
    };
  },
  methods: {
    changePage(p) {
      this.initialLoad = false;
      this.previous = this.page;
      this.page = p;
      this.menuChanged(p);
    },
    animateCommon() {
      anime({
        targets: this.$refs.back,
        color: ["#000", "#fff"],
        easing: "easeInOutExpo",
        duration: 1400,
      });
      anime({
        targets: this.$refs.orange,
        width: ["0", "25vw"],
        easing: "easeInOutExpo",
        duration: 500,
        delay: 600,
      });

      for (let i = 0; i < this.backgrounds.length; i++) {
        anime({
          targets: this.$refs[`line${i}`],
          width: 0,
          easing: "easeInOutExpo",
          duration: 500,
        });
      }
    },
    goToMenu() {
      this.initialLoad = true;
      this.animateCommon();
      anime({
        targets: this.$refs.menu,
        opacity: [0, 1],
        easing: "easeInOutExpo",
        duration: 500,
        delay: 600,
      });
      anime({
        targets: this.$refs[`line0`],
        width: ["0", "7rem"],
        easing: "easeInOutExpo",
        duration: 500,
      });
    },
    goToLanding() {
      this.backToLanding = true;
      setTimeout(() => {
        this.page = 3;
        this.initialLoad = false;
        this.backToLanding = false;
      }, 500);
    },
    menuChanged(i) {
      this.animateCommon();
      for (let i = 0; i < this.backgrounds.length; i++) {
        anime({
          targets: this.$refs[`line${i}`],
          width: 0,
          easing: "easeInOutExpo",
          duration: 500,
        });
      }

      anime({
        targets: this.$refs[`line${i}`],
        width: ["0", "7rem"],
        easing: "easeInOutExpo",
        duration: 500,
      });
    },
  },
  watch: {
    initialLoad: function (val) {
      if (val) {
        this.page = 0;
      }
    },
  },
  components: {
    ImageHolderComponent,
    AboutView,
    ProductView,
    ContactView,
    LandingView,
  },
  mounted() {
    this.menuChanged(0);
  },
};
</script>
<style scoped>
.menu.active {
  color: #ffb800;
}
.active-line {
  content: "";
  display: block;
  width: 0;
  height: 1rem;
  background: #ffb800;
  left: -10rem;
  top: 1.6rem;
  position: absolute;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.07s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
