<template>
  <div
    class="relative flex justify-center items-center h-[100vh] w-[100vw] overflow-hidden"
    :class="{ enlarge: clicked }"
  >
    <div class="img-container w-[50vw] h-[60vh] relative">
      <div id="lines" class="fixed flex justify-start items-center space-x-3">
        <div class="lineOne bg-darkyellow"></div>
        <div class="lineTwo bg-darkyellow"></div>
      </div>
      <h1 class="main-text text-darkyellow font-bold absolute z-20">
        We Create
      </h1>
      <div class="button-container flex justify-center items-center absolute">
        <a
          @click="goHome()"
          class="btn-awesome w-max flex justify-between items-center space-x-16 z-20 text-darkyellow cursor-pointer hover:text-darkyellow font-bold"
        >
          <span>AWESOME THINGS</span>
          <font-awesome-icon icon="fa-solid fa-arrow-right-long" />
        </a>
        <div class="bg-darkyellow z-10 rounded-xl absolute button-bg"></div>
      </div>

      <div class="img-container h-max w-max overflow-hidden">
        <div class="main-img bg-cover bg-center bg-no-repeat"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faArrowRightLong } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
library.add(faArrowRightLong);

export default {
  data() {
    return {
      clicked: false,
    };
  },
  components: { FontAwesomeIcon },
  props: {
    isUp: {
      type: Boolean,
      default: false,
    },
    prev: {
      type: Number,
      default: 0,
    },
    current: {
      type: Number,
      default: 0,
    },
    images: {
      type: Array,
      default: [],
    },
  },
  methods: {
    goHome() {
      this.clicked = true;
      setTimeout(() => {
        this.$emit("clicked", true);
      }, 500);
    },
  },
  mounted() {},
};
</script>
<style scoped>
#lines {
  top: 3rem;
  right: 5rem;
  z-index: 1;
}
.lineOne,
.lineTwo {
  height: 1.1rem;
  width: 0;
  transition: all 1s;
  transition-timing-function: cubic-bezier(1, 0, 0.07, 0.98);
}
.lineTwo {
  width: 0;
}

.img-container:hover .lineOne {
  width: 4rem;
}
.img-container:hover .lineTwo {
  width: 8rem;
}
.main-img {
  background-image: url(/images/bulb.jpeg);
  width: 50vw;
  height: 70vh;
  transition: all 1s;
  transition-timing-function: cubic-bezier(1, 0, 0.07, 0.98);

  filter: grayscale(1);
}
.img-container:hover .main-img {
  transform: scale(1.2);
  filter: grayscale(0);
}
.main-text {
  left: -5rem;
  top: -5rem;
  font-size: 10rem;
  transition: all 1s;
  transition-timing-function: cubic-bezier(1, 0, 0.07, 0.98);
}

.img-container:hover .main-text {
  font-size: 11rem;
}
.btn-awesome {
  font-size: 4rem;

  opacity: 0;
  transform: translateX(-1000px);
  transition: all 1s;
  transition-timing-function: cubic-bezier(1, 0, 0.07, 0.98);
}

.button-container:hover .btn-awesome {
  color: #fff !important;
  transition: color 0.5s ease;
}

.img-container:hover .btn-awesome {
  transform: translateX(0);
  opacity: 1;
}

.button-container {
  bottom: -7.8rem;
  left: -5rem;
  width: 47rem;
  height: 5.5rem;
  bottom: -8rem;
}
.button-bg {
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transform: translateX(-1000px);

  transition: all 0.5s;
  transition-timing-function: cubic-bezier(1, 0, 0.07, 0.98);
}
.button-container:hover .button-bg {
  opacity: 1;
  transform: translateX(0);
}
/* .enlarge {
  width: 75vw;
  height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 50;
} */
.img-container {
  transition: all 0.8s;
  animation: diagonal-move-anim 0.8s cubic-bezier(0.24, 0.55, 0.2, 1);
}
.enlarge .img-container {
  opacity: 0.7;
  transition: all 0.8s;
  transform: translate(300px, -170px);
  transition-timing-function: cubic-bezier(1, -0.2, 0.43, 0.92);
}

.img-container {
  /* animation: diagonal-move-anim 2s linear infinite alternate; */
}
.enlarge #lines {
  opacity: 0 !important;
}
.enlarge .main-text {
  transform: translateY(-500px);
  opacity: 0;
  transition: all 0.7s;
}
.enlarge .button-container {
  transform: translateY(500px);
  opacity: 0;
  transition: all 0.7s;
}

@keyframes diagonal-move-anim {
  100% {
    transform: translate(0, 0);
  }

  0% {
    transform: translate(50px, -50px);
  }
}

@keyframes animateText {
  0%,
  20% {
    font-size: 10rem;
  }
  100% {
    font-size: 11rem;
  }
}
</style>
