<template>
  <div class="relative flex justify-center items-center h-[100vh] w-[75vw]">
    <div
      ref="bgcontainer"
      class="absolute left-0 right-0 top-0 bottom-0 overflow-hidden"
    >
      <div class="transition" ref="background">
        <div :key="x" v-for="(i, x) in images">
          <div
            :style="`background-image: url(${i});`"
            class="bg-cover bg-no-repeat h-[100vh] w-[75vw] bg-right"
          ></div>
        </div>
      </div>
    </div>

    <div class="flex justify-end items-center z-10 w-[75vw]">
      <div
        ref="scontainer"
        class="slider-container w-[50vw] overflow-hidden relative"
      >
        <button
          @click="nextSlide()"
          class="hover:bg-white/50 transition outline-none border-none focus:outline-none rounded-full bg-darkyellow text-white w-20 h-20 absolute right-[25%] top-[35%] flex justify-center items-center"
        >
          <img class="w-8 ml-2" src="/images/play.png" />
        </button>
        <div class="flex space-x-10 items-center" ref="slides">
          <div
            v-for="(s, i) in slides"
            :key="i"
            class="text-black rounded-xl p-16 bg-white/40 text-6xl font-bold flex-none w-[30rem]"
          >
            <h2>{{ s }}</h2>
            <p class="mt-10 text-7xl blink">PROBLEM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import anime from "animejs/lib/anime.es.js";

export default {
  data() {
    return {
      activeSlide: 0,
      slides: ["We Solve Your", "We Know You Have", "We Will Fix Your"],
    };
  },
  props: {
    isUp: {
      type: Boolean,
      default: false,
    },
    backToLanding: {
      type: Boolean,
    },
    prev: {
      type: Number,
      default: 0,
    },
    current: {
      type: Number,
      default: 0,
    },
    images: {
      type: Array,
      default: [],
    },
  },
  methods: {
    nextSlide() {
      if (this.activeSlide < this.slides.length - 1) {
        anime({
          targets: this.$refs.slides,
          "margin-left": `-${30 * (this.activeSlide + 1)}rem`,
          easing: "easeInOutExpo",
          duration: 700,
        });
        this.activeSlide++;
        return;
      }
      anime({
        targets: this.$refs.slides,
        "margin-left": 0,
        easing: "easeInOutExpo",
        duration: 700,
      });
      this.activeSlide = 0;
    },
    go() {
      anime({
        targets: this.$refs.learn,
        translateY: [30, 0],
        opacity: [0, 1],
        easing: "easeInOutExpo",
        duration: 1000,
        delay: 600,
      });
      anime({
        targets: this.$refs.horizontal,
        width: ["0", "100px"],
        easing: "easeInOutExpo",
        duration: 1000,
        delay: 300,
      });
      anime({
        targets: this.$refs.vertical,
        height: ["0", "85px"],
        easing: "easeInOutExpo",
        delay: 500,
        duration: 1000,
      });
      anime({
        targets: this.$refs.scontainer,
        translateX: [-400, 0],
        opacity: [0, 1],
        easing: "easeInOutExpo",
        delay: 600,
        duration: 1500,
      });
      anime({
        targets: this.$refs.background,
        "margin-top": [`-${100 * this.prev}vh`, `-${100 * this.current}vh`],
        easing: "easeInOutExpo",
        duration: 700,
      });
      anime({
        targets: this.$refs.background,
        filter: "grayscale(1)",
        easing: "easeInOutExpo",
        duration: 200,
        delay: 700,
      });
    },
  },
  watch: {
    backToLanding: function (val) {
      if (val) {
        anime({
          targets: this.$refs.bgcontainer,
          top: [`0`, `100px`],
          right: [`0`, `100px`],
          easing: "cubicBezier(1, -0.2, 0.43, 0.92)",
          duration: 800,
        });
      }
    },
  },
  mounted() {
    this.go();
  },
};
</script>
<style scoped>
.blink {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #fff;
  background-image: linear-gradient(90deg, white 50%, #ffb800 50%);
  background-size: 50rem 10rem;
  background-repeat: no-repeat;
  background-position: 20% 80%;
  animation: textclip 1.7s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

@keyframes textclip {
  0%,
  30% {
    background-position: 0% center;
  }

  50%,
  80% {
    background-position: 100% center;
  }

  100% {
    background-position: 0% center;
  }
}
</style>
