<template>
  <div class="relative flex justify-center items-center h-[100vh] w-[75vw]">
    <div class="absolute left-0 right-0 top-0 bottom-0 overflow-hidden">
      <div class="transition" ref="background">
        <div :key="x" v-for="(i, x) in images">
          <div
            :style="`background-image: url(${i});`"
            class="bg-cover bg-no-repeat h-[100vh] w-[75vw]"
          ></div>
        </div>
      </div>
    </div>

    <div class="flex justify-center items-center z-10 max-w-xl">
      <div class="relative">
        <div class="absolute -left-8 -top-8">
          <div ref="horizontal" class="w-[100px] h-[15px] bg-darkyellow"></div>
          <div ref="vertical" class="w-[15px] h-[85px] bg-darkyellow"></div>
        </div>

        <div
          ref="box"
          @mouseover="hover()"
          @mouseleave="leave()"
          class="text-black rounded-xl p-10 bg-white/40 text-2xl"
        >
          <h2 class="text-6xl font-bold mb-5">Our People Come First</h2>
          <p class="text-4xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nulla
            porro velit ducimus iste quidem minima non laboriosam suscipit
            quisquam?
          </p>
        </div>
        <div class="flex justify-end mt-5">
          <button
            ref="learn"
            class="bg-darkyellow text-white rounded-lg font-bold text-2xl"
          >
            Learn More
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import anime from "animejs/lib/anime.es.js";

export default {
  props: {
    isUp: {
      type: Boolean,
      default: false,
    },
    prev: {
      type: Number,
      default: 0,
    },
    current: {
      type: Number,
      default: 0,
    },
    images: {
      type: Array,
      default: [],
    },
  },
  methods: {
    hover() {
      anime({
        targets: this.$refs.box,
        scale: 1.2,
        easing: "easeInOutExpo",
        duration: 200,
      });
    },
    leave() {
      anime({
        targets: this.$refs.box,
        scale: 1,
        easing: "easeInOutExpo",
        duration: 200,
      });
    },
    go() {
      anime({
        targets: this.$refs.learn,
        translateY: [30, 0],
        opacity: [0, 1],
        easing: "easeInOutExpo",
        duration: 1000,
        delay: 600,
      });
      anime({
        targets: this.$refs.horizontal,
        width: ["0", "100px"],
        easing: "easeInOutExpo",
        duration: 1000,
        delay: 300,
      });
      anime({
        targets: this.$refs.vertical,
        height: ["0", "85px"],
        easing: "easeInOutExpo",
        delay: 500,
        duration: 1000,
      });
      anime({
        targets: this.$refs.box,
        translateX: [10, 0],
        opacity: [0, 1],
        easing: "easeInOutExpo",
        delay: 600,
        duration: 1000,
      });
      anime({
        targets: this.$refs.background,
        "margin-top": [`-${100 * this.prev}vh`, `-${100 * this.current}vh`],
        easing: "easeInOutExpo",
        duration: 700,
      });
      anime({
        targets: this.$refs.background,
        filter: "grayscale(1)",
        easing: "easeInOutExpo",
        duration: 200,
        delay: 700,
      });
    },
  },
  mounted() {
    this.go();
  },
};
</script>
