<template>
  <router-link to="/">Home</router-link>
  <router-link to="/about">About</router-link>
  <router-link to="/product">product</router-link>
  <router-link to="/contact">contact</router-link>
</template>
